*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
.header{
	height: 143px;
	background-color: #000;
}
.header .header-1{
	width: 995px;
	height: 143px;
	margin: 0 auto;
}
.header .header-1 .logo{
	float: left;
	margin-top: 25px;
}
.header .header-1 .header-11{
	float: left;
	width: 450px;
	height: 12px;
	margin-left: 70px;
	margin-top: 69px;
}
.header .header-1 .header-11 li{
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	color: #fff;
	font-size: 12px;
	list-style: none;
	margin-right: 26px;
}
.header .header-1 .header-11 li:hover{
	color: #cc2700;
}
.container .container-1{
	height: 348px;
	background-image: url(../images/beijing1.gif);
}
.container .container-1 .container-11{
	height: 348px;
	width: 940px;
	margin: 0 auto;
}
.container .container-1 .container-11 .container-111{
	width: 590px;
	height: 208px;
	float: left;
	margin-top: 66px;
}
.container .container-1 .container-11 .container-112{
	height: 383px;
	float: left;
	position: relative;
	top:-35px;
	left: 40px;
}
.container .container-1 .container-11 .container-111 .container-1111{
	font-size: 26px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #fff;
	margin-bottom: 30px;
}
.container .container-1 .container-11 .container-111 .container-1112{
	font-family:Arial, Helvetica, sans-serif;
	color: #7f7f7f;
	font-size: 14px;
	line-height: 1.5;
}
.container .container-1 .container-11 .container-111 .container-1112 span{
	color: #cc2800;
	border-bottom: 1px solid #cc2800;
}
.container .container-1 .container-11 .container-111 .container-1113{
	margin-top: 26px;
}
.container .container-2{
	height: 896px;
	background-image: url(../images/beijing2.gif);
}
.container .container-2 .container-21{
	width: 940px;
	margin:0 auto;
}
.container .container-2 .container-21 .container-211{
	float: left;
	margin-right: 20px;
}
.container .container-2 .container-21 .container-212{
	float: left;
}
.container .container-2 .container-22{
	width: 940px;
	margin:0 auto;
}
.container .container-2 .container-22 .container-221{
	float: left;
	width: 620px;
	height: 636px;
	margin-top: 40px;
}
.container .container-2 .container-22 .container-221 span{
	color:#fff;
}
.container .container-2 .container-22 .container-221 .container-2211{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 28px;
	color: #fff;
}
.container .container-2 .container-22 .container-221 .container-2212{
	margin-top: 22px;
	font-family:Verdana, Geneva, sans-serif;
	color: #fff;
	width: 620px;
	height: 223px;
}
.container .container-2 .container-22 .container-221 .container-2212 .container-22121{
	float: left;
	width: 60px;
}
.container .container-2 .container-22 .container-221 .container-2212 .container-22122{
	float: left;
	width: 520px;
	margin-left: 20px;
}
.container .container-2 .container-22 .container-221 .container-2212 .container-22122 .container-221221{
	color:#7f7f7f;
}

.container .container-2 .container-22 .container-221 .container-2212 .container-22122 .container-221222{
	margin-top: 20px;
	color:#7f7f7f;
}
.container .container-2 .container-22 .container-221 .container-2212 .container-22122 .container-221223{
	margin-top: 26px;
}
.container .container-2 .container-22 .container-221 .container-2213{
	width: 620px;
	height: 260px;
	margin-top: 33px;
	border-top: 1px dashed #7f7f7f;
}
.container .container-2 .container-22 .container-221 .container-2213 .container-22131{
	margin-top: 30px;
	float: left;
}
.container .container-2 .container-22 .container-221 .container-2213 .container-22132{
	margin-top: 30px;
	margin-left: 20px;
	width: 540px;
	height: 231px;
	float: left;
}
.container .container-2 .container-22 .container-221 .container-2213 .container-22132 .container-221321 .container-2213211{
	float: left;
	width: 220px;
}
.container .container-2 .container-22 .container-221 .container-2213 .container-22132 .container-221321 .container-2213212{
	width: 298px;
	height: 160px;
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	color:#7f7f7f;
	margin-left: 20px
}
.container .container-2 .container-22 .container-221 .container-2213 .container-22132 .container-221322{
	margin-top: 30px;
}
.container .container-2 .container-22 .container-222{
	float: left;
	height: 576px;
	width: 300px;
	margin-top: 40px;
	margin-left: 20px;
}
.container .container-2 .container-22 .container-222 .container-2221{
	border-radius: 6px;
	background-image: url(../images/beijing4.gif);
	height: 48px;
	width: 300px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #fff;
	font-size: 20px;
	line-height: 48px;
}
.container .container-2 .container-22 .container-222 .container-2221 p{
	margin-left: 22px;
}
.container .container-2 .container-22 .container-222 .container-2222 .container-22221{
	margin-top: 20px;
}
.container .container-2 .container-22 .container-222 .container-2222 .container-22221 li{
	height: 34px;
	list-style: none;
	line-height: 34px;
	font-family:Verdana, Geneva, sans-serif;
	color: #fff;
	font-style: italic;
	font-size: 14px;
}
.container .container-2 .container-22 .container-222 .container-2222 .container-22221 span li{
	border-bottom:1px dashed #7f7f7f;
}
.container .container-2 .container-22 .container-222 .container-2223{
	width: 300px;
	height: 212px;
	background-image: url(../images/beijing5.gif);
	border-radius: 6px;
	margin-top: 30px;
	padding-top: 20px;
}
.container .container-2 .container-22 .container-222 .container-2223 .container-22231{
	color: #fff;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	margin-bottom: 15px;
	margin-left: 20px;
}
.container .container-2 .container-22 .container-222 .container-2223 .container-22232{
	margin-left: 20px;
}
.container .container-2 .container-22 .container-222 .container-2223 .container-22233{
	margin-left: 20px;
	color: #fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin-right: 20px;
	color:#7f7f7f;
	margin-top:22px;
	line-height: 1.5;
}
.container .container-2 .container-22 .container-222 .container-2223 .container-22233 span{
	color: #fff;
	font-weight: bold;
}
.footer{
	height: 150px;
	background-image: url(../images/beijing3.gif);
}
.footer .footer-1{
	width: 940px;
	height: 150px;
	margin: 0 auto;
}
.footer .footer-1 .footer-11{
	width: 310px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #fff;
	float: left;
	margin-top: 30px;
}
.footer .footer-1 .footer-11 table{
	margin: 0 auto;
	line-height: 2;
}
.footer .footer-1 .footer-12{
	float: right;
	margin-top: 50px;
}
.footer .footer-1 .footer-11 span{
	color: #cc2800;
	border-bottom: 1px solid #cc2800;
}